/SysDis-PriseDeSang/PriseDeSang/build/
/SysDis-PriseDeSang/EntrepriseApplication/build/
/SysDis-PriseDeSang/EntrepriseApplication/dist/
/SysDis-PriseDeSang/LaborantinApplication/dist/
/SysDis-PriseDeSang/LaborantinApplication/build/
/SysDis-PriseDeSang/PriseDeSangGUI/dist/
/SysDis-PriseDeSang/PriseDeSangGUI/build/
/SysDis-PriseDeSang/ApplicationClient/dist/
/SysDis-PriseDeSang/ApplicationClient/build/
/SysDis-PriseDeSang/EARPriseDeSang/dist/
/SysDis-PriseDeSang/EARPriseDeSang/build/
/SysDis-PriseDeSang/EJBRemoteInterface/dist/
/SysDis-PriseDeSang/EJBRemoteInterface/build/
/SysDis-PriseDeSang/EntrepriseApplication/EntrepriseApplication-ejb/build/
/SysDis-PriseDeSang/EntrepriseApplication/EntrepriseApplication-ejb/dist/
/SysDis-PriseDeSang/JavaLibrary/dist/
/SysDis-PriseDeSang/JavaLibrary/build/
/SysDis-PriseDeSang/ApplicationCli/dist/
/SysDis-PriseDeSang/ApplicationCli/build/
/SysDis-PriseDeSang/EARPriseDeSang/EARPriseDeSang-ejb/build/
/SysDis-PriseDeSang/EARPriseDeSang/EARPriseDeSang-ejb/dist/
/SysDis-PriseDeSang/EARPriseDeSang/EARPriseDeSang-war/dist/
/SysDis-PriseDeSang/EARPriseDeSang/EARPriseDeSang-war/build/
/SysDis-PriseDeSang/EARPriseDeSang/EARPriseDeSang-war/nbproject/private/
/SysDis-PriseDeSang/EntrepriseApplication/nbproject/private/
/SysDis-PriseDeSang/JavaLibrary/nbproject/private/